.logo {
  cursor: pointer;
  transition: transform var(--transition-base), fill var(--transition-base);
  fill: var(--color-primary-dim);
}

.logo:hover {
  transform: scale(1.1);
  fill: var(--color-accent);
}
