.container {
  padding: 20px;
}

.back:hover {
  color: var(--color-accent);
}

.name {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 700;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.icons {
  display: flex;
  margin-top: 8px;
  gap: 10px;
}

@media (max-width: 800px) {
  .top {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    padding-top: 0;
  }
}

@media (max-width: 550px) {
  .top {
    flex-direction: column;
    align-items: baseline;
  }
}
