.container {
  display: flex;
  justify-content: center;
  /* padding-left: 100px; */
  /* padding-right: 50px; */
  margin: 5vh;
  height: 90vh;
  overflow: hidden;
  border: 3px solid wheat;
}

.left {
  margin-top: 10px;
  padding-left: 100px;
}

.right {
  padding-right: 50px;
  flex: 1;
  margin-left: 200px;
  margin-top: 20px;
  height: 90%;
  overflow-y: auto; /* Show vertical scrollbar when needed */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.top {
  display: none;
  padding: 10px;

  border-bottom: 3px solid wheat;
}

/* Media query for screens less than 1200px wide */
@media (max-width: 1200px) {
  .right {
    margin-left: 50px;
  }
  .left {
    padding-left: 50px;
  }
}
/* @media (max-width: 1000px) {
    .right {
      margin-left: 50px;
    }
  } */

/* Media query for screens less than 800px wide */
@media (max-width: 900px) {
  .right {
    padding-right: 20px;
    margin-left: 20px;
  }
  .left {
    padding-left: 20px;
  }
}

/* breaking point to hamburger menu */
@media (max-width: 680px) {
  /* .right {
      padding-right: 20px;
      margin-left: 20px;
    } */
  /* Now, also create a new component which shows the hamburger menu in layout */
  .container {
    flex-direction: column;
  }
  .top {
    display: inline;
  }
  .left {
    display: none;
  }
}

@media (max-width: 420px) {
  .container {
    margin: 2vh;
    height: 96vh;
  }
  .right {
    padding-right: 10px;
  }
}
