.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  margin: 5vh;
  height: 90vh;
  overflow: hidden;
  border: 3px solid wheat;
  border-radius: 10px;
  width: min(95vw, 1600px);
}

/* @media (min-width: 1600px) {
  .card {
    max-width: 1600px !important;
  }
} */

.left {
  margin-top: 10px;
  padding-left: 100px;
}

.right {
  /* border: 1px solid red; */
  padding-right: 50px;
  flex: 1;
  margin-left: 200px;
  margin-top: 30px;
  /* margin-top: 3%; */
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.top {
  display: none;
  padding: 10px;

  border-bottom: 3px solid wheat;
}

/* Media query for screens less than 1200px wide */
@media (max-width: 1200px) {
  .right {
    margin-left: 50px;
  }
  .left {
    padding-left: 50px;
  }
}

/* Media query for screens less than 800px wide */
@media (max-width: 900px) {
  .right {
    padding-right: 20px;
    margin-left: 20px;
  }
  .left {
    padding-left: 20px;
  }
}

/* breaking point to hamburger menu */
@media (max-width: 680px) {
  .card {
    flex-direction: column;
  }
  .top {
    display: inline;
  }
  .left {
    display: none;
  }
  .right {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .card {
    margin: 2vh;
    height: 96vh;
  }
  .right {
    padding-right: 10px;
  }
}

/* @media (min-height: 1000px) {
  .card {
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
} */

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: wheat;
  transition: transform 0.2s fill 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  fill: #d2b48c;
}

.name {
  font-size: 24px;
  font-weight: bold;
}
.active {
  font-style: italic;
  font-weight: bold;
}
