.logo {
  cursor: pointer; /* Add pointer cursor on hover */
  transition: color 0.2s; /* Smooth color transition on hover */
  border-radius: 10px;
}

.logo:hover {
  background-color: #040153 !important;
}
