.logo {
  cursor: pointer; /* Add pointer cursor on hover */
  transition: transform 0.2s; /* Add a smooth transition effect */
  fill: #f5deb3;
}

.logo:hover {
  transform: scale(1.05);
  fill: #d2b48c;
}
