.card {
  display: flex;
  justify-content: space-between;
  position: relative;

  /* the left and right spacing */
  padding: 0 5%;
}

.left {
  padding-left: 20px;
  flex: 0 0 auto; /* Prevent left div from growing */
  width: 300px; /* Set a fixed width for the left div */

  position: sticky;
  top: 0; /* Stick to the top of the parent container */
  height: 100%; /* Make sure it takes the full height of the container */
  padding-top: 20px;
}

.right {
  padding: 10px;
  padding-bottom: 100px;

  flex: 1; /* Allow right div to grow and take available space */
}
.top {
  display: none;
}

@media (min-width: 1000px) {
  .card {
    width: 1000px;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .left {
    width: 250px;
  }
  .card {
    padding: 0 1%;
  }
}

/* breaking point to hamburger menu */
@media (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;

    padding: 0 0;
  }
  .top {
    display: inline;
    /*  for top */
    z-index: 1000;
    flex: 0 0 auto; /* Prevent top div from growing */
    position: sticky;
    top: 0; /* Stick to the top of the parent container */

    padding: 10px;
    border-bottom: 1px solid wheat;

    background-color: #000000;
  }
  .left {
    display: none;
  }
  .right {
    padding-bottom: 50px;
  }
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: wheat;
  transition: transform 0.2s fill 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  fill: #d2b48c;
}

.name {
  font-size: 24px;
  font-weight: bold;
}
.active {
  font-style: italic;
  font-weight: bold;
}
