body {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: wheat;
  /* align-items: center; */
  /* justify-content: center; */
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #000000 0%,
    #000725 25%,
    #000000 51%,
    #002900 100%
  );
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.116);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

a {
  text-decoration: none; /* Remove underlines */
  color: wheat;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #d2b48c;
}
