/* RootLayout.css */
.bodyStyle {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 50px;
  margin: 5vh;
  height: 90vh;
  overflow: hidden;
  border: 1px solid wheat;
}

.left {
  margin-right: 20px;
  margin-top: 10px;
}

.right {
  flex: 1;
  margin-left: 200px;
  margin-top: 20px;
  height: 90%;
  overflow: auto;
}

/* .right::-webkit-scrollbar {
  width: 10px;
}

.right::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.116);
  border-radius: 20px;
}

.right::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 20px;
}
.right::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */

.navLinks {
  display: flex;
  flex-direction: column; /* Stack the links vertically */
}

.navLinks a {
  margin-bottom: 10px; /* Add spacing between each link */
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the text color from the parent */
  width: fit-content;
}

.navLinks a:visited {
  color: inherit; /* Set the color for visited links */
}
.navLinks a:hover {
  color: red; /* Set the color for visited links */
}
