/* RootLayout.css */
.bodyStyle {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 50px;
  margin: 5vh;
  height: 90vh;
  overflow: hidden;
  border: 1px solid wheat;
}

.left {
  margin-right: 20px;
  margin-top: 10px;
}

.right {
  flex: 1;
  margin-left: 200px;
  margin-top: 20px;
  height: 90%;
  overflow-y: auto; /* Show vertical scrollbar when needed */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.navLinks {
  display: flex;
  flex-direction: column; /* Stack the links vertically */
}

.navLinks a {
  margin-bottom: 10px; /* Add spacing between each link */
  color: inherit; /* Inherit the text color from the parent */
  width: fit-content;
}

.navLinks a:hover {
  color: #d2b48c; /* Set the color for visited links */
}
