/* RootLayout.css */

.container {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 100px;
}

.left {
  margin-right: 20px;
  top: 50px;
  position: sticky;
  align-self: flex-start; /* Align to the top of the container */
  height: 100%; /* Set the height to occupy the entire left div */
}

.right {
  flex: 1;
  margin-left: 200px;
  margin-top: 50px;
}

.navLinks {
  display: flex;
  flex-direction: column; /* Stack the links vertically */
}

.navLinks a {
  margin-bottom: 10px; /* Add spacing between each link */
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the text color from the parent */
}


.navLinks a:visited {
  color: inherit; /* Set the color for visited links */
}
.navLinks a:hover {
  color: red; /* Set the color for visited links */
}

.logo {
  cursor: pointer; /* Add pointer cursor on hover */
  transition: color 0.2s; /* Smooth color transition on hover */
}

.logo:hover {
  color: #0077b5; 
  background-color: #0077b5 !important;
}