/* Experience.module.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Optional margin between experience items */
  padding: 20px;
  transition: transform 0.2s;
}
.container:hover {
  transform: scale(1.05);
  color: #d2b48c;
}

.date {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px; /* Optional spacing between date and details */
}

.details {
  flex-grow: 1;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company {
  font-size: 16px;
  /* color: #888; */
  font-style: italic;
  margin-bottom: 5px;
}

.pointers {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
}

/* Optional styles for list items */
.pointers li {
  margin-top: 5px;
}
