/* Experience.module.css */

.container {
  align-items: center;
  padding: 20px 20px 20px 20px;
  transition: transform 0.2s;
}
.container:hover {
  transform: scale(1.02);
  color: #d2b48c;
}

.top {
  display: flex;
  justify-content: space-between;
}

.date {
  font-weight: bold;
  font-size: 18px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.company {
  font-size: 16px;
  /* color: #888; */
  font-style: italic;
  margin-bottom: 5px;
}

.pointers {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
}

/* Optional styles for list items */
.pointers li {
  margin-top: 5px;
}
