.container {
  padding: 0 24px;
}

.about,
.projects,
.experiences {
  margin-bottom: 48px;
  padding-bottom: 48px;
  scroll-margin-top: 3px;
}

.about,
.projects {
  border-bottom: 1px solid var(--color-border);
}

@media (max-width: 700px) {
  .container {
    padding: 0 16px;
  }
  .about,
  .projects,
  .experiences {
    scroll-margin-top: 70px;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
