.name {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
.title {
  min-height: 32px;
  font-size: 24px;
  font-style: italic;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin: 50% 0;
}

.navLinks a {
  margin-bottom: 10px;
  color: inherit;
  width: fit-content;
  transition: transform 0.2s;
}

.navLinks a:hover {
  transform: scale(1.05);
}

.active {
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
  transform: scale(1.05);
  color: #d2b48c !important;
}
.icons {
  display: flex;
  gap: 10px;
}

@media (max-width: 680px) {
  .navLinks {
    margin: 25% 0;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .active {
    margin-left: 0px;
  }
}
